.reviews-container {
  margin: 0 auto;
  position: relative;
  padding: 8rem 4px;

  * {
      font-family: $font-family-navbar-text;
  }

  .reviews-heading {
    font-size: 24px;
    line-height: 20px;
    color: #000000;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
  }

  .left-arrow,
  .right-arrow {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border: 1px solid #000;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease;
    z-index: 10;

    

    &:hover {
      background-color: #f8f8f8;
      border-color: #666;
    }

    svg {
      stroke: #000000;
      transition: stroke 0.2s ease;
      width: 16px;
      height: 16px;

      @include respond-to(sl) {
        width: 24px;
        height: 24px;
      }
    }

    &:hover svg {
      stroke: #666;
    }
  }

  .left-arrow {
    left: -10px;

    @include respond-to(sl) {
      left: 15px;
    }

    @include respond-to(lt) {
      left: 10px;
    }
  }

  .right-arrow {
    right: -10px;

    @include respond-to(sl) {
      right: 15px;
    }

    @include respond-to(lt) {
      right: 10px;
    }
  }

  .embla {
    overflow: hidden;
  }

  .reviews-grid {
    width: 100%;
    padding: 0 1rem;
    position: relative;

    .review-card {
      flex: 1;
      border: 1px solid #e4e4e7;
      border-radius: 8px;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
      padding: 1.5rem 2rem;
      background: #ffffff;
      height: 100%;

      @include respond-to(sl) {
        margin: auto;
        padding: 1.5rem;
        width: 80%;
      }

      @include respond-to(lt) {
        width: 90%;
      }

      .card-header {
        margin-bottom: 1rem;

        .card-title {
          font-size: 24px;
          line-height: 24px;
          font-weight: 600;
          letter-spacing: -0.6px;
          color: rgba(9, 9, 11, 1);
          margin-bottom: 0.5rem;
        }

        .card-subtitle {
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
          color: rgba(113, 113, 122, 1);
        }
      }

      .card-content {
        .card-text {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: rgba(9, 9, 11, 1);
          margin-bottom: 1rem;

          @include respond-to(start) {
            font-size: 12px;
          }
          @include respond-to(ds) {
            font-size: 16px;
          }
        }
      }

      .card-footer {
        margin-top: auto;

        .card-link {
          display: inline-block;
          text-decoration: underline;
          padding: 9.5px 16px 10.5px 16px;
          background-color: #ffffff;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: rgba(9, 9, 11, 1);
          transition: all 0.2s ease-in-out;
          cursor: pointer;

          &:hover {
            color: rgba(9, 9, 11, 0.7);
            transform: translateY(-1px);
          }

          &:active {
            transform: translateY(1px);
          }

          &:focus {
            outline: 2px solid rgba(9, 9, 11, 0.2);
            outline-offset: 2px;
          }

          &:focus:not(:focus-visible) {
            outline: none;
          }
        }
      }
    }
  }
}
