.universities {
  padding: 10rem 1rem;

  * {
    font-family: $font-family-navbar-text;
  }

  .universities-title {
    text-align: center;
    margin-bottom: 2rem;
    color: #000000;
    font-size: 24px;
    line-height: 20px;
    font-weight: 600;
  }

  .universities-container {
    margin: 0 auto;
    position: relative;
    padding: 4px;
  }

  :global(.carousel) {
    overflow: visible !important;
  }

  :global(.carousel-content) {
    overflow: visible !important;
  }

  .left-arrow,
  .right-arrow {
    position: absolute;
    top: 18%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border: 1px solid #000;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease;
    z-index: 10;

    @include respond-to(sm) {
      top: 20%;
    }
    @include respond-to(sl) {
      width: 40px;
      height: 40px;
      top: 50%;
    }

    &:hover {
      background-color: #f8f8f8;
      border-color: #666;
    }

    svg {
      stroke: #000000;
      transition: stroke 0.2s ease;
      width: 16px;
      height: 16px;

      @include respond-to(sl) {
        width: 24px;
        height: 24px;
      }
    }

    &:hover svg {
      stroke: #666;
    }
  }

  .left-arrow {
    left: -8px;

    @include respond-to(sl) {
      left: -10px;
    }
  }

  .right-arrow {
    right: -8px;

    @include respond-to(sl) {
      right: -10px;
    }
  }

  .embla {
    overflow: hidden;
  }

  .university-card {
    display: flex;
    flex-direction: column;
    background: white;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 100%;

    @include respond-to(sl) {
      flex-direction: row;
      gap: 2rem;
      padding: 1.5rem;
      width: 95%;
    }

    .university-image-container {
      width: 90%;
      margin: auto;

      @include respond-to(sl) {
        width: 250px;
        margin: 0;
        flex-shrink: 0;
      }

      .university-image {
        width: 100%;
        height: auto;
        border-radius: 8px 8px 0 0;

        @include respond-to(sl) {
          width: 250px;
          height: 250px;
          border-radius: 8px;
        }
      }

      .tuition-box {
        margin-top: 12px;
        background: rgba(242, 242, 242, 1);
        padding: 8px 16px;
        border-radius: 5px;
        width: 100%;

        .tuition-label {
          font-weight: 600;
          color: #000000;
        }

        .tuition-value {
          color: rgba(127, 127, 127, 1);
          font-weight: 500;
        }

        .tuition-label,
        .tuition-value {
          margin: 0;
          font-size: 12px;
          line-height: 16px;

          @include respond-to(lt) {
            line-height: 24px;
            font-size: 16px;
          }
          @include respond-to(ds) {
            line-height: 16px;
            font-size: 12px;
          }
          @include respond-to(dl) {
            line-height: 24px;
            font-size: 16px;
          }
        }
      }
    }

    .university-content {
      padding: 16px;

      @include respond-to(sl) {
        padding: 0;
        margin: 0;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        min-width: 0;
        justify-content: space-between;
      }

      .university-header {
        margin-bottom: 1rem;

        .university-name {
          font-weight: 600;
          margin: 0 0 0.5rem;
          font-size: 16px;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          @include respond-to(lt) {
            font-size: 26px;
          }
          @include respond-to(ds) {
            font-size: 16px;
          }
          @include respond-to(lt) {
            font-size: 26px;
          }
        }

        .university-location {
          font-size: 14px;
          font-weight: 500;
          color: rgba(127, 127, 127, 1);
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          @include respond-to(lt) {
            font-size: 20px;
          }
          @include respond-to(ds) {
            font-size: 14px;
          }
          @include respond-to(lt) {
            font-size: 20px;
          }
        }
      }

      .university-stats {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        text-align: right;
        border-bottom: 1px solid rgba(228, 228, 231, 1);
        padding-bottom: 1rem;
        margin-bottom: 1rem;

        @include respond-to(sl) {
          margin-top: 1rem;
          column-gap: 1rem;
          padding-bottom: 1rem;
          margin-bottom: 1rem;
        }

        .stat-item {
          line-height: 1.4;
          font-size: 12px;

          @include respond-to(sl) {
            white-space: nowrap;
          }

          @include respond-to(lt) {
            font-size: 16px;
          }
          @include respond-to(ds) {
            font-size: 12px;
          }
          @include respond-to(dl) {
            font-size: 16px;
          }

          .stat-label {
            font-weight: 600;
            margin-bottom: 0.25rem;
          }

          .stat-value {
            font-weight: 500;
            color: rgba(127, 127, 127, 1);
          }
        }
      }

      .university-buttons {
        display: flex;
        gap: 8px;
        justify-content: flex-end;

        @include respond-to(sl) {
          margin-top: 0;
          gap: 16px;
        }

        button {
          font-size: 14px;
          line-height: 20px;
          font-weight: 600;
          padding: 8px 16px;
          cursor: pointer;
          transition: transform 0.3s ease, background-color 0.3s ease,
            color 0.3s ease;

          @include respond-to(lt) {
            font-size: 20px;
            padding: 12px 20px;
          }
          @include respond-to(ds) {
            font-size: 14px;
            padding: 8px 16px;
          }
          @include respond-to(dl) {
            font-size: 20px;
            padding: 12px 20px;
          }
        }

        .apply-btn {
          background: #000000;
          color: #ffffff;

          &:hover {
            background: #ff4500;
            color: #ffffff;
            transform: scale(1.05);
          }
        }

        .view-more-btn {
          border: 1px solid rgba(127, 127, 127, 1);
          color: #000000;

          &:hover {
            background: #f0f8ff;
            border-color: #4682b4;
            color: #4682b4;
            transform: scale(1.05);
          }
        }
      }
    }
  }
}
